{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
	<div class="carousel">
		<div class="list">
			{% for product in products %}
				<div class="item">
					{% set image_name = product.name|replace({' ': '-'})|lower %}
					<img src="{{ asset('produits/' ~ image_name ~ '.png') }}">
					<div class="introduce">
						<div class="title">{{ product.brand.value }} {{ product.type.value }}</div>
						<div class="topic">{{ product.name }}</div>
						<div class="des">
							{{ product.description }}
						</div>
						<button class="seeMore">SEE MORE &#8599</button>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="arrows">
			<button id="prev"><</button><button id="next">></button>
			<button id="back">See All  &#8599</button>
		</div>
	</div>

	<script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
