{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-8">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">Products</h1>
        <div class="space-x-4">
        {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('product_new') }}" 
                   class="bg-[#23c686] hover:bg-[#5cf1b5] text-white font-bold py-2 px-4 rounded">
                    New Product
                </a>
        {% endif %}
            <a href="{{ path('product_export') }}" 
                class="bg-[#23c686] hover:bg-[#57f7b7] text-white font-bold py-2 px-4 rounded">
                Export CSV
            </a>
        </div>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white dark:bg-gray-800">
            <thead>
                <tr class="bg-gray-100 dark:bg-gray-700">
                    <th class="px-6 py-3 text-gray-900 dark:text-gray-100 text-left">Name</th>
                    <th class="px-6 py-3 text-gray-900 dark:text-gray-100 text-left">Description</th>
                    <th class="px-6 py-3 text-gray-900 dark:text-gray-100 text-left">Price</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th class="px-6 py-3 text-left">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr class="border-b">
                        <td class="px-6 py-4 text-gray-900 dark:text-gray-100">{{ product.name }}</td>
                        <td class="px-6 py-4 text-gray-900 dark:text-gray-100">{{ product.description }}</td>
                        <td class="px-6 py-4 text-gray-900 dark:text-gray-100">{{ product.price|number_format(2, '.', "'") }}&euro;</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td class="px-6 py-4">
                                <a href="{{ path('product_edit', {id: product.id}) }}" 
                                   class="text-[#23c686] hover:text-[#5cf1b5] dark:text-[#23c686] dark:hover:text-[#5cf1b5] mr-2">Edit</a>
                                <a href="{{ path('product_delete', {id: product.id}) }}" 
                                   class="text-red-600 hover:text-red-800" 
                                   onclick="return confirm('Are you sure?')">Delete</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}